/* Geral */
body {
    /*Configuração de preenchimento */
    padding: 20px;
}

/* Estilo para a tag Parágrafos */
p {
    /*Configuração de Cor*/
    color: green;
    /*Configuração de tamanho da fonte do paragrafo*/
    font-size: 30px;
}

/* Estilo para a classe de Parágrafos numerados */
.p-numerados {
    /*Configuração do estilo da fonte*/
    font-family: 'Courier New';
    /*Configuração de cor do texto*/
    color: blueviolet;
    /*Configuração da cor de fundo*/
    background-color: yellowgreen;
}

/* Estilo para o id p1 */
#p1 {
    /*Configuração da cor de fundo*/
    background-color: black;
    /*Configuração de cor do texto*/
    color: red;
}

h2 {
    /*Configuração do botão da borda*/
    border-bottom: 1px solid red;
}

/* TODOS ELEMENTOS DA PÁGINA */
* {
    /*Configuração do estilo da fonte*/
    font-family: Arial;
}

 .decoration {
     /*Configuração do Sublinhado do texto*/
    text-decoration: none;
    /*Tempo do sublinhado*/
    transition: 0.5s;
}

/*Configuração de mundança de cor após clicado*/
a:visited {
    /*Mudança de cor após clicado*/
    color: rgb(241, 13, 13);
}

/*Configuração de mudança de cor ao passar o mouse por cima*/
a:hover {
    
    background-color: yellow;
    
}

/* Fontes */
.serifada {
    /*Configuração do estilo da fonte*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sem-serifa {
    /*Configuração do estilo de fonte*/
    font-family: Arial, Helvetica, sans-serif;
}

.monoespacada {
    /*Configuração do estilo da fonte*/
    font-family: 'Courier New', Courier, monospace;
}

/*Configuração de caixa*/
.caixa {
    /*largura da caixa*/
    width: 150px;
    /*altura da caixa*/
    height: 100px;
    /*borda da caixa*/
    border: 1px solid blue;
    /*preenchimento da caixa*/
    padding: 20px;
}

